/*----- CSS RESET -----*/
html, body, nav, ul, li, section, header, div, form, h1, h2, h3, h4, h5, h6, p, a, footer, aside, input, placeholder, value {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Oleo Script', cursive;
}

/*--- Decoration for nav, ul, li, a ---*/
nav ul {    
    list-style-type: none;
    text-align: center;
    font-size: 2em;
}

nav ul li {
    display: inline-block;
    margin: 50px;
    text-align: center;
    color: #000;
    background-color: #ddfbff;
    padding: 20px;
}

nav a {
    text-decoration: none;
    text-decoration-color: none;
    color: none;
}

nav a:visited {
    color: #000;
}

nav a:hover {
    background: #73e7f4;
    color: #fff;
}

/*--- id container ---*/
#container {
    max-width: 100vw;
}

header {
    background: #ddfbff;
    height: 300px;
    padding-left: 60px;
    padding-top: 70px;
    font-size: 1.5em;
    color: #d4f3f7;
}

/*--- .class, banner & background images for home page, about page and recipe page ---*/
.index-header {
    background-image:url("../images/coffeecup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    height:300px;
}

.about-header {
    background-image: url("../images/machinecoffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:300px;
}

.recipe-header {
    background-image: url("../images/cappuccino.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:300px;
}

/*--- section ---*/
section {
    font-size: 20px;
    text-align: left;
    color: #000;
    padding: 30px;
}

/*--- footer ---*/
footer {
    font-size: 18px;
    text-align: center;
    color: #000;
    background-color: #ddfbff;
    padding: 30px;
}
    
   



